.books-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions-top button {
  margin-left: 10px;
}

.books-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.books-table th,
.books-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.actions button {
  margin-right: 5px;
  cursor: pointer;
}

.logout {
  background: red;
  color: white;
}